@model ApplicationPortfolio.Domain.DataConnections.Application

@{
    ViewBag.Title = "Index";
}

<h2>Application Dependencies</h2>

Below is a list of all dependencies for this particular application
