/* ------- THIS CSS FILE ----------- 
My intention with this CSS file is to keep it for classes so global that they are likely to be used
by systems outside of this current one. So we can have a "quick start" styling situation, where pasting
a few files gets a nice looking application going.

Any classes specific for the Resource Booking application can be added to the ResourceBooking.css*/

body, html
{
    height: 100%;
}

body,input,select,textarea
{
    font-family: Calibri, Arial;
    font-size: 0.95em;
    margin: 0;
    color: #444;
}

h1, h2, h3, h4, h5, h6
{
    letter-spacing: -0.05em;
    margin: 0;
}

img
{
    vertical-align: middle;
    border: 0;
}

header, footer, nav, section {
    display: block;
}
header h1
{
    display: inline;
    float: right;
    margin: 0.3em;
}



/*JQuery UI override*/
input[type=text].datepicker {  width:6em; }
#ui-datepicker-div { font-size: 12px; z-index:5 ! important; }
.ui-selectmenu-menu { z-index:5 ! important;}
.ui-widget { font-size: 1em; } 

/* Styles for basic forms
-----------------------------------------------------------*/
form
{
    padding: 0;
    margin: 0;
}

fieldset
{
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    
    border: dashed 1px #BBB;
    margin-top: 0.5em;
    margin-bottom: 1em;   
    padding-left: 1em;
}
fieldset div
{
    padding: 4px;
}
legend
{
    padding: 0.3em;
    font-size: 1.4em;
}
textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

input[type=submit], input[type=button], a.button, button
{
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    
    padding: 3px 0.7em;
    margin: 0 0.3em;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    font-family: Arial;
    font-size: 0.85em;
    line-height: 1em;
    font-weight: normal;
}
input[type=submit].grey, input[type=button].grey, a.button.grey, button.grey
{
    background-color: #DDD;
    color: #000;
    border: outset 2px #EEE;
}
input[type=text], input[type=password], textarea, select
{
    padding: 0.15em;
    margin: 0.1em;
    width: 14em;
    font-size: 1em;
    color: #555;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
input[type=text].small, select.small
{
    width:6em;
}

input[type=radio], input[type=checkbox]
{
    vertical-align: middle;
}
textarea
{
    width: 23em;
    height: 5em;
    vertical-align: top;
}
.call-to-action a.button
{
    margin: 0.15em 0 0.5em 0;
    font-size: 1.2em;
    padding: 0.6em 1em;
}
div.buttons
{
    padding: 0.6em;
}
.page
{
    padding: 1em;
}
form label
{
	width: 10em;
	display: inline-block;
	font-weight: bold;
}
form p label
{
    width: auto;
}
form ul.fields
{
	list-style: none;
	margin: 0;
	padding: 0;
}
form ul.fields li
{
	padding: 0.25em 0.2em;
}
form ul.fields li img
{
    vertical-align: middle;
}





/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

input[type=text].input-validation-error, input[type=password].input-validation-error, textarea.input-validation-error, select.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    
    border: solid 2px #F00;
    color: #ff0000;
    margin-top: 1em;
}

.validation-summary-valid
{
    display: none;
}
.validation-summary-errors ul
{
    margin-left: 1.2em;
    list-style-type: disc;
}
.validation-summary-errors ul li
{
    padding: 0;
    line-height: 1.2em;
}





/* --- TABS -------------
These styles directly refer to the top navigation bar, referred to as Tabs.
Setting a specific tab to "current" changes its style.
 */
ul#tabs
{
    margin:0;
    padding-top: 0.3em;
    padding-left: 0.5em;
}
ul#tabs li
{
    display: inline-block;
    vertical-align: bottom;
    zoom: 1;
    *display: inline;
    margin-top: 35px;
}
ul#tabs li a:hover
{
    border-bottom: none;
}
ul#tabs li a
{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-right: 0.3em;
    padding: 0.2em 1em;

    border: solid 1px #CCC;
    border-bottom: none;
    
    border-top-right-radius: 0.5em;
    -webkit-border-radius-top-right: 0.5em;
    -moz-border-radius-top-right: 0.5em;
    border-top-left-radius: 0.5em;
    -webkit-border-radius-top-left: 0.5em;
    -moz-border-radius-top-left: 0.5em;
}
ul#tabs li.current a, ul#tabs li.current a:hover
{
    border-bottom: none;
    color: #EEE;
    font-size: 1em;
    padding: 0.2em 1em;
    font-weight: normal;
}
ul#tabs li.disabled a, ul#tabs li.disabled a:hover
{
    border-bottom: none;
    cursor: default;
    color: #CCC;
    font-weight: normal;
}
li#tab-feedback
{
    /*float: right;*/
}

ul#context-bar
{
    background-color: #0078C1;
    margin:0;
    padding: 3px;
    line-height:1em;
}
ul#context-bar li
{
    display: inline-block;
    background-color: #38A2E0;
    color: #EEE;
    border: solid 1px #0088CC;
    height: 18px;
    text-align: center;
    cursor: pointer;
    zoom: 1;
    *display: inline;
    padding: 2px 0.7em;
    position:relative;
}
ul#context-bar li a
{
    color: #FFF;
    text-decoration: none;
    display: block;
}
ul#context-bar li:hover
{
    background-color: #00AAEE;
    color: #FFF;
    font-weight:bold;
    border: solid 1px #00AAEE;
}
ul#context-bar li a img
{
    vertical-align: middle;
}

ul.topnav {
	list-style: none;
}

ul.topnav li span { /*--Drop down trigger styles--*/
	width: 16px;
	height: 35px;
	float: left;
	background: url(Icons/downArrow.png) no-repeat center top;
}

ul.topnav li a{
	display: block;
	float: left;
}

ul.topnav li span.subhover /*--Hover effect for trigger--*/
{
	cursor: pointer;
} 

ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: -3px; top: 1.6em;
	background: #0078C1;
	margin: 0; padding: 0;
	display: none;
	float: left;
	border: 2px solid #0078C1;
	border-top-width:0px;
	z-index:50;
}

ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
	z-index:60;
	text-align:left ! important;
	line-height:1em;
}

html ul.topnav li ul.subnav li a {
	float: left;
	width:135px;
	padding-left: 20px;
	position:absolute;
}

html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/

}

li.tab-iefix
{
	z-index:45;
}

ul#context-bar
{
	z-index:40;
}
div#navigationContext
{
	z-index:35;
}
body
{
	z-index:1;
}
header 
{
	z-index:2;
}


/*#infoDesk
{
	background-image:url("Icons/information.png");
	background-repeat:no-repeat;
	background-position:left center;
}*/

ul.subnav li img
{
	float:left;
	position:absolute;
}


/* The DATA table */
table.data, div.data
{
    border-spacing:0px;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border: solid 0.4em #EEE;
    margin-top: 0.2em;
    
    
}
table.data
{
    background-color: #FFF;
}
div.data
{
    background-color: #EEE;
    display: inline-block;
}
table.data td, table.data th, div.data li
{
    border-bottom: dotted 1px #EEE;
    padding-right: 0.4em;
}
table.data tr:hover td, div.data li:hover
{
    background-color: #FAFAFA;
    color: #444;
    cursor: default;
}
table.data th
{ 
    background-color: #EEE;
    text-align: left;
    vertical-align: bottom;
    padding: 0.1em 1.5em 0.4em 0;
}
table.data td
{
    vertical-align: bottom;
    padding: 0.3em 0.6em 0.3em 0.2em;
}
table.data tr.fade
{
    color: #BBB;
}
table.input
{
    background-color: #FFF;
    border: solid 0.4em #EEE;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
}
table.input td, table.input th
{
    border-bottom: dotted 1px #DDD;
    padding: 0.3em;
}
table.input td input
{
    vertical-align: middle;
}
div.data ul, div.data div.data-content
{
    background-color: #FFF;
    list-style: none;
    padding: 0;
    margin: 0;
    
    border-bottom: solid 1px #FFF; /* added for IE6 */
    
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
}
div.data div.data-content
{
    padding: 0.3em 0.6em;
}
div.data li
{
    padding: 0.2em 0.4em 0.2em 0.4em;
    font-size: 1.08em;
}
div.data li a
{
    color: inherit;
    text-decoration: inherit;
    display: block;
}